<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration debug="false" scan="false">

    <property name="root.level" value="INFO" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{20}] %L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${root.level}">
        <appender-ref ref="stdout"/>
    </root>
</configuration>